---
	import Nav from '../components/Nav.astro';
	import Photos from '../components/Photos.astro';
	import Footer from '../components/Footer.astro';
	import Markdown from 'astro/components';



---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Welcome to Astro</title>
	<link rel="stylesheet" href="{Astro.resolve('../style/style.css')}">
	<script src="/typetura.js"></script>
</head>

<body>
	<Nav/>
	 <p>The passion for photography started when I decided to take a class in highshcool. I never thought that 
	 type of work would bring me so much joy, curiousity and creativity. I started with architectural 
	 photography but as I became more comfortable with other genres I have developed a large portfolio. 
	 I hope you enjoy browsing through my </p>
	<Footer/>

	
</body>

</html>
