---
	import Nav from '../components/Nav.astro';
	import Photos from '../components/Photos.astro';
	import Footer from '../components/Footer.astro';
	import { Markdown } from npm create astro@latest
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>About</title>
	<link rel="stylesheet" href={Astro.resolve('../style/style.css')} />
	<script src="/typetura.js"></script>
</head>

<body>
	<Nav/>
	 <p>When I decided to take a class in high school I never thought it
	 work would bring me so much joy. 
     
	 Thank you for browsing through my work.</p>

	 <img src="/images/Cim Zoom.jpg" alt="Me crouching " width="250" height="150">
	<Footer/>

	
</body>

</html>
