---
	import Nav from '../components/Nav.astro';
	import Photos from '../components/Photos.astro';
	import Footer from '../components/Footer.astro';
	import Markdown from 'astro/components';



---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Photos</title>
	<link rel="stylesheet" href="{Astro.resolve('../style/style.css')}">
	<script src="/typetura.js"></script>
</head>

<body>
	<Nav/>
	<div class="nature-gallery">
	<Photos heading="Nature" number="4" category='Nature'/> 
	<img src="images/20191109152317_IMG_6678-2.jpg" alt="Waves" width="373" height="400">
	<img src="images/IMG_3083.jpg" alt="Waterfall" width="440" height="400">
	<img src="images/20190323_182107.jpg" alt="Green Rocks" width="400" height="400">
	<img src="images/IMG_3100.jpg" alt="Night" width="410" height="400">
	</div>
	
	<div class="architecture-gallery">
	<Photos heading="Architecture" number="6" category='Architecture'/>
	<img src="images/20190128_171411.jpg" alt="Georgian Hotel" width="310" height="400">
	<img src="images/LRM_EXPORT_20170613_214813 (1).jpg" alt="GreenWindow" width="305" height="400">
	<img src="images/IMG_20170715_185641_HDR.jpg" alt="Triangle" width="310" height="400">
	<img src="images/20171128_172505-01.jpeg" alt="Colony" width="307" height="400">
	<img src="images/IMG_1647 (1).jpg" alt="YellowBlue" width="310" height="430">
	<img src="images/20200312214257_IMG_6899.jpg" alt="Broad" width="310" height="430">
	</div>

	<div class="fashion-gallery"> 
	<Photos heading="Fashion" number="9" category='Fashion'/>
	<img src="images/IMG_7203.jpg" alt="Cheyenne store" width="190" height="300">
	<img src="images/20210910151322_IMG_7526.jpg" alt="Hat" width="300" height="300">
	<img src="images/IMG_7133.jpg" alt="Leaves" width="200" height="300">
	<img src="images/20210910152748_IMG_7559.jpg" alt="Graffitti" width="200" height="300">
	<img src="images/IMG_7125.jpg" alt="Chey in the sun" width="200" height="300">
	<img src="images/20210212161329_IMG_7349.jpg" alt="Chey shady tree" width="200" height="300">
	<img src="images/IMG_7158.jpg" alt="Chey wall" width="150" height="300">
	<img src="images/20210910143128_IMG_7463.jpg" alt="Chey shadow tree" width="200" height="300">
	<img src="images/20210910152621_IMG_7553.jpg" alt="Chey sitting tree" width="200" height="300">
	</div>
	
	<article class="prose">
	<Markdown>
	# About me

	
	</Markdown>
	</article>
	<Footer/>

	
</body>

</html>
