---
	import Nav from '../components/Nav.astro';
	import Photos from '../components/Photos.astro';
	import Footer from '../components/Footer.astro';
	import Markdown from 'astro/components';



---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Photos</title>
	<link rel="stylesheet" href="{Astro.resolve('../style/style.css')}">
	<script src="/typetura.js"></script>
</head>

<body>
	<Nav/>
	<div class="nature-gallery">
	<Photos heading="Nature" number="4" category='Nature'/> 
	<img src="images/LRM_EXPORT_20170515_221304.jpg" alt="Roses" width="500" height="600">
	<img src="images/IMG_3083.jpg" alt="Waterfall" width="500" height="600">
	<img src="images/IMG_3089.jpg" alt="Stream" width="500" height="600">
	<img src="images/IMG_3100.jpg" alt="Night" width="500" height="600">
	</div>
	
	<div class="architecture-gallery">
	<Photos heading="Architecture" number="4" category='Architecture'/>
	<img src="images/IMG_2323.jpg" alt="Orange" width="500" height="600">
	<img src="images/IMG_2327.jpg" alt="Blue" width="500" height="600">
	<img src="images/IMG_2580.jpg" alt="Black" width="500" height="600">
	<img src="images/IMG_2591.jpg" alt="Leaves" width="500" height="600">
	</div>

	<div class="fashion-gallery"> 
	<Photos heading="Fashion" number="8" category='Fashion'/>
	<img src="images/20210910145015_IMG_7501.jpg" alt="Chey tree" width="500" height="600">
	<img src="images/20210910151322_IMG_7526.jpg" alt="Hat" width="500" height="600">
	<img src="images/20210910152527_IMG_7547.jpg" alt="Stump" width="500" height="600">
	<img src="images/20210910152748_IMG_7559.jpg" alt="Distance" width="500" height="600">
	<img src="images/20210910142932_IMG_7455.jpg" alt="Shade" width="500" height="600">
	<img src="images/20210910143018_IMG_7458.jpg" alt="Chey shady tree" width="500" height="600">
	<img src="images/20210910143128_IMG_7463.jpg" alt="Chey shadow tree" width="500" height="600">
	<img src="images/20210910152621_IMG_7553.jpg" alt="Chey sitting tree" width="500" height="600">
	</div>
	
	<article class="prose">
	<Markdown>
	# About me

	
	</Markdown>
	</article>
	<Footer/>

	
</body>

</html>
