
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@font-face {
    font-family:'Funkford' ;
    src: url('/funkford-regular.woff2');
}
html{ 
    --background:hsl(212, 92%, 61%);
    --color:rgb(255, 255, 255);
    --primary:#4bd45e;
    --font:'Georgia', monospace;
    --headline:'Funkford';
    --stroke-width:4px;
    
    background: var(--background);
    color: var(--color);
    font-family: var(--font);
}
body{
    margin:0 auto;
    max-width: 60em;
    padding:4em;
    font:inherit;
    color:inherit;

}

a{
    color: inherit;
}

/* Typographic Styles */
h1, h2, h3, h4, h5, h6 {
    font-size:6rem;
    font-weight:inherit;
}

.page-heading,
.prose h1{
    --tt-key:page-heading;
    font-family:var(--headline);
    margin:0;
    line-height:1;
}

@keyframes page-heading{
    0%{
        font-size: 1rem;
    }
    100%{
        font-size:6rem;
    }

}

nav, 
section,
article,
footer{
    margin: 2rem 0;
}
