
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

html{ 
    --background:black;
    --color:white;
    --primary:#fa5c13;
    --font:'Tenor Sans', sans-serif;
    --stroke-width:4px;
    
    background: var(--background);
    color: var(--color);
    font-family: var(--font);
}
body{
    margin:0 auto;
    max-width: 60em;
    padding:2em;

}


/* Typographic Styles */
h1, h2, h3, h4, h5, h6 {
    font-size:3em;
    font-weight:inherit;
}

.page-heading,
.prose h1{
    --tt-key:page-heading;
    margin:0;
    line-height:1;
}

@keyframes page-heading{
    0%{
        font-size: 1rem;
    }
    100%{
        font-size:3rem;
    }

}

nav, 
section,
article,
footer{
    margin: 2rem 0;
}

