<footer>
<ul>
<li><a href="/About">About</a></li>
<li><a href="/Photos">Photos</a></li>
<li><a href="/Contact">Contact</a></li>
<li><a href="/Storefont">Storefont</a></li>

</ul>

<ul>
<li><a href="/Society6">Society6</a></li>
<li><a href="/Etsy">Etsy</a></li>
<li><a href="/Instagram">Instagram</a></li>


</ul>

</footer>

<style>
footer{
    border-top: var(--stroke-width) solid var(--primary);
    font-weight: 900;
}
ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    gap:1rem;
    justify-content: center;
}
a{
    color:inherit;
    text-decoration:none;
    display:block;
    padding:1rem 0;
}
</style>