<nav>
<h1 class="page-heading"> <a href="/">Photography by Cim</a> </h1>  
<ul>
<li><a href="/about">About</a></li>
<li><a href="/photos">Photos</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/storefront">Storefont</a></li>

</ul>

</nav>

<style>
nav{
    border-bottom: var(--stroke-width) solid var(--primary);
    
}
ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    gap:1rem;
}
a{
     font-weight:bold;
    color:inherit;
    text-decoration:none;
    display:block;
    padding:1rem 0;
}
</style>