<nav>
<h1 class="page-heading"> <a href="/">Photography By Cim</a> </h1>  
<ul>
<li><a href="/about">About</a></li>
<li><a href="/photos">Photos</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/storefront">Storefont</a></li>

</ul>

</nav>

<style>
nav{
    border-bottom: var(--stroke-width) solid var(--primary);
    text-align: center;
}
ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
    gap:1rem;
    justify-content: center;
}
a{
    color:inherit;
    text-decoration:none;
    display:block;
    padding:1rem 0;
}
h1{
    text-shadow: 
        1px -1px 0 hsla(320deg, 100%, 50%, 1),
        2px -2px 0 hsla(320deg, 100%, 50%, 1),
        3px -3px 0 hsla(320deg, 100%, 50%, 0.9),
        4px -4px 0 hsla(320deg, 100%, 50%, 0.8),
        5px -5px 0 hsla(320deg, 100%, 50%, 0.7),
        6px -6px 0 hsla(320deg, 100%, 50%, 0.6),
        7px -7px 0 hsla(320deg, 100%, 50%, 0.5),
        8px -8px 0 hsla(320deg, 100%, 50%, 0.4),
        9px -9px 0 hsla(320deg, 100%, 50%, 0.3),
        10px -10px 0 hsla(320deg, 100%, 50%, 0.2),
        11px -11px 0 hsla(320deg, 100%, 50%, 0.1)

    
    ;
}
</style>