---
    const response = await fetch('http://localhost:3000/photos.json');
const data = await response.json();
// Remember: Astro component scripts log to the CLI
console.log(data.Photos[0])


const { heading = 'Recent Photos', number = 4, category = null } = Astro.props; Astro
// Change recent photos within this component
//Pull in a specific number of recent photos
---

<section class="photos">
    <h1 class="page-heading">{heading}</h1>
    <div class="photos-gallery">
    {data.Photos.map((photo) => (
    <li>{photo.url}</li>
    img src="images/{photo.url}" alt=" " 
  ))}
        <img alt="Cheyenne in front of tree" src="/images/20210910145015_IMG_7501.jpg"/>
        <img alt="Cheyenne in front of tree" src="/images/20210910145015_IMG_7501.jpg"/>
        <img alt="Cheyenne in front of tree" src="/images/20210910145015_IMG_7501.jpg"/>
        <img alt="Cheyenne in front of tree" src="/images/20210910145015_IMG_7501.jpg"/>
    </div>
</section>

<style>
img{
    width: 100%;
}

.photos-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
}
</style>