---
// Photos go here
// Most recent at the top
const data = [
	{
	  "url": "IMG_3309.jpg",
	  "category": "Architecture"
	},
	{
	  "url": "IMG_3309.jpg",
	  "category": "Portrait"
	},
	{
	  "url": "IMG_3309.jpg",
	  "category": "Portrait"
	},
];

// Define props
const { heading = 'Recent Photos', number = 4, category = null } = Astro.props; Astro
// Create photo array with parameters from props
let photos = []

// Push the photos you want to select into the array
let i = 0;
data.forEach(photo => {
	if(i < number) {
		if(category) {
			if(category === photo.category) {
				photos.push(photo);
				i = i + 1;
			}
		} else {
			photos.push(photo);
			i = i + 1;
		}
	}
});
---

<section class="photos">
    <h1 class="page-heading">{heading}</h1>
    <div class="photos-gallery">
			{photos.map((photo) => (
				<img src={`/images/${photo.url}`} alt=" ">
			))}
    </div>
</section>

<style>
img{
    width: 100%;
}

.photos-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
}
</style>