---
	import StoreItem from '../components/StoreItem.astro';
// Photos go here
// Most recent at the top
const data = [
	{
	  "url": "Let's_Get_Lost_.jpg",
	  "category": "Nature",
	  "Society6":"https://society6.com/manemine"
	},
	{
	  "url": "IMG_3100.jpg",
	  "category": "Nature",
	  "Etsy":"https://www.etsy.com/shop/ArtByCim"
	},
	
	
];

// Define props
const { heading = 'Recent Photos', number = 4, category = null } = Astro.props; Astro
// Create photo array with parameters from props
let photos = []

// Push the photos you want to select into the array
let i = 0;
data.forEach(photo => {
	if(i < number) {
		if(category) {
			if(category === photo.category) {
				photos.push(photo);
				i = i + 1;
			}
		} else {
			photos.push(photo);
			i = i + 1;
		}
	}
});
---

<section class="photos">
        <div class="photos-gallery">
			{photos.map((photo) => (
				<StoreItem src={`/images/${photo.url}`} Society6={photo.Society6} Etsy={photo.Etsy}/>
			))}
    </div>
</section>

<style>


.photos-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 5fr));
    gap: 1rem;
}

</style>